<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iris aapplication
    </title>
</head>

<body>
    <h1> Iris django application</h1>
    <hr>
    <form action="result">
        sepal length: <input type="number" name="sepal_length" required> <br>
        <br>
        sepal width: <input type="number" name="sepal_width" required> <br>
        <br>
        petal length: <input type="number" name="petal_length" required> <br>
        <br>
        petal width: <input type="number" name="petal_width" required> <br>
        <br>
        <input type="submit">
    </form>
</body>

</html>